.links {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 32px;
}

.links-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: fit-content;
  width: 14em !important;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out ease-in-out;
  margin: 8px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.links-item svg {
  margin-right: 8px;
}

.links-item:hover {
  cursor: pointer;
  color: #1890ff;
  box-shadow: 0px 0px 5px 0.1px rgba(0, 0, 0, 0.5);
}
