.engineer-content-left-right {
  background-color: #f7f9fa;
  height: calc(100vh - 53px);
}
.engineer-links {
  color: #1890ff;
}

.engineer-links a {
  border: 1px solid #ccc;
  border-radius: 16px;
  height: 2em;
  width: fit-content;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 8px;
}
.engineer-links a:hover {
  color: #1890ff;
}

.engineer-links a:active {
  background-color: #f2f4f5;
  color: #1890ff;
}

.engineer-bar {
  background-color: #8db3f2;
}

.scrollToTop {
  position: absolute;
  right: 32px;
  bottom: 32px;
  font-size: 20px;
  background-color: #f7f9fa;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  color: #1a1a1a;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTop:hover {
  color: #1890ff;
}
